<article class="markdown-body">
    <%- page.content %>
</article>

<div class="navigator">
    <div class="navigator_button">
        <% if (page.next){ %>
            <a href="<%- url_for(page.next.path) %>">
                이전 글 "<%= page.next.title %>" 읽으러가기
            </a>
            <% } %>
    </div>

    <div class="navigator_button">
        <% if (page.prev){ %>
            <a href="<%- url_for(page.prev.path) %>">
                다음 글 "<%= page.prev.title %>" 읽으러가기
            </a>
            <% } %>
    </div>
</div>